*{
    font-family: 'Roboto', sans-serif;
}
.page-header{
    width: 100%;
    background-color: whitesmoke;
    height: 60px;
}
.page-header > img {
    width: 180px;
    height: 44px;
    margin-left: 20px;
    position: absolute;
    left: 0px;
}
.login-wrapper-h1{
    max-width: 100%;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 1.1;
    font-size: 40px;
}

@media (max-width: 767px)
.login-wrapper-h1 {
    font-size: 40px !important;
}

#outer-container{
    max-width: 100%;
    width: 100%;
    height: 70px;
}
.input-box{
    max-width: 360px;
    margin: 0px auto;
    margin-top: 20px;
}
.input-box-text{
    font-size: 17px;
    margin-right: 125px;
    /* text-align: left; */
    font-weight: bolder;
    padding-bottom: 16px;
    margin-top: 25px;
}
.input-box > input {
    width: 350px;
    height: 35px;
}
#message{
    min-height: 14px;
}
#submit-button{
    max-width: 100%;
    border: none;
    border-radius: 30px;
    height: 50px;
    border-bottom: 2px solid #0d91ca;
    background: #0fa2e2;
}
.submit-button-text{
    text-align: center;
    padding-top: 14px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
#seperator{
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin-left: 360px;
    width: 100%;
}
.line{
    height: 0;
    border: 0.5px solid #c5c7d0;
    width: 250px;
}
#seperator-text{
    margin: 0 14px;
    min-width: 115px;
}
.signin-buttons-wrapper{
    max-width: 100%;
    margin-left: 490px;
    display: flex;
}
.oauth-provider-text{
    font-size: 14px;
    line-height: 26px;
    color: #323338;
    padding-left: 35px;
}
.oauth-provider-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 5px;
}
.oauth-signin-button{
    border: 1px solid #c5c7d0;
    box-sizing: border-box;
    border-radius: 54px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 16px;
    padding-right: 16px;
    /* float: left; */
    /* max-width: 150px; */
    width: 100px;
}

.oauth-provider-button-text{
    padding-left: 5px;
    font-size: 15px;
}
#signup-option{
    font-weight: 10;
    clear: both;
    text-align: center;
    margin-top: 50px;
}
#signup-option > span{
    color: #0e83b6;
    cursor: pointer;
}