*{
    font-family: Roboto, helvetica;
}
.signup-title{
    margin-top: 50px;
}
.signup-first-title{
    font-size: 40px;
    /* font-weight: bold; */
    text-align: center;
    margin-top: 20px;
}
.signup-second-title{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.minified-oauth-title{
    margin: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minified-oauth-providers{
    display: flex;
}
.minified-oauth-signup-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minified-provider{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #c5c7d0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border 200ms ease;
    margin-right: 8px;
}
.oauth-logo{
    cursor: pointer;
    width: 16px;
}
/* .login-btn
 */

.logos-images-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.logo-image{
    max-height: 44px;
    max-width: 92px;
}
.signup-company-logos-conponent-wrapper{
    height: 122px;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
}
.signup-company-logos-component{
    height: 100%;
    width: 100%;
    background-color: #eff7fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    box-sizing: border-box;
}
.title-logos-images{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#continue-button{
    width: 400px;
    /* border: 2px solid black; */
    background-color: #0085ff;
    height: 50px;
    border-radius: 5px;
    margin-left: 460px;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
}
#continue-button > p{
    color: white;
    font-size: 18px;
    padding-top: 12px;
}
.input-box > p{
    font-size: 20px;
    margin-right: 100px;
    font-weight: lighter;
}
.input-box > input{
    border: 1px solid gray;
    height: 40px;
    width: 400px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
}
.input-box{
    min-width: 600px;
    max-width: 500px;
    margin-top: 80px;
    /* text-align: center; */
    margin-left: 460px;
}
.paying-companies-number{
    color: #0085ff;
}